<ng-sidebar-accordion>
  <ng-sidebar
    [className]="'myclassname'"
    position="left">
    <ng-sidebar-header>left-pane</ng-sidebar-header>
  </ng-sidebar>
  <ng-sidebar
    position="right">
    <ng-sidebar-header>
      <div style="height: 50px">right-pane-1</div>
      <div style="height: 200px">asdlfjasldfjasldfjalsdf</div>
    </ng-sidebar-header>
  </ng-sidebar>
  <ng-sidebar
    position="right">
    <ng-sidebar-header>
      right-pane-2
    </ng-sidebar-header>
  </ng-sidebar>
  <ng-sidebar
    position="top">
    <ng-sidebar-header>top-pane</ng-sidebar-header>
  </ng-sidebar>
  <ng-sidebar
    position="bottom">
    <ng-sidebar-header>bottom-pane</ng-sidebar-header>
  </ng-sidebar>
  <div>content-pane</div>
</ng-sidebar-accordion>
