.ng-sidebar__ng-sidebar-header {
  background-color: #bbbbbb;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.app {
  &__content-pane{
    background: #eeeeee;
    height: 100%;
  }
  &__ng-sidebar-header_vertical {
    transform: rotate(270deg);
    width: 20px;
    white-space: nowrap;

    &-border {
      border-right: solid 2px #eeeeee;
    }
  }
}

//.ng-sidebar__ng-sidebar-content{
//  width: 200px;
//  //transition: all 3s;
//}
//
//.ng-sidebar__ng-sidebar-content_open{
//  width: 500px;
//  //transition: all 3s;
//}
